zsi/interop/interop.wsdl

<?xml version="1.0"?>
<definitions name="interopLab" targetNamespace="http://tempuri.org/wsdl/interopLab"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/1999/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://tempuri.org/wsdl/interopLab"
        xmlns:ns1="http://soapinterop.org/xsd"
        xmlns:ns2="http://whitemesa.com/headers/soapmsgtracker.xsd"
        xmlns:ns3="http://whitemesa.com/headers/soapmsgrouter.xsd"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
<types>
 <schema targetNamespace="http://whitemesa.com/headers/soapmsgtracker.xsd"
      xmlns="http://www.w3.org/1999/XMLSchema">
      <complexType name="ArrayOfString" base="SOAP-ENC:Array">
          <sequence>
              <element name="item" type="xsd:string" minOccurs="0" maxOccurs="*"/>
          </sequence>
      </complexType>
      <element name="msgtracking" type="ns2:ArrayOfString"/>
 </schema>
 <schema targetNamespace="http://whitemesa.com/headers/soapmsgrouter.xsd"
      xmlns="http://www.w3.org/1999/XMLSchema">
      <complexType name="ArrayOfString" base="SOAP-ENC:Array">
          <sequence>
              <element name="item" type="xsd:string" minOccurs="0" maxOccurs="*"/>
          </sequence>
      </complexType>
      <element name="msgPath" type="ns3:ArrayOfString"/>
 </schema>
 <schema targetNamespace="http://soapinterop.org/xsd" xmlns="http://www.w3.org/1999/XMLSchema">
  <element name="InteropTestHeader" type="xsd:string"/>
  <complexType name="ArrayOfstring" base="SOAP-ENC:Array">
    <sequence>
      <element name="item" type="xsd:string" minOccurs='0' maxOccurs='*'/>
    </sequence>
  </complexType>
  <complexType name="ArrayOfint" base="SOAP-ENC:Array">
    <sequence>
      <element name="item" type="xsd:int" minOccurs='0' maxOccurs='*'/>
    </sequence>
  </complexType>
  <complexType name="ArrayOffloat" base="SOAP-ENC:Array">
    <sequence>
      <element name="item" type="xsd:float" minOccurs='0' maxOccurs='*'/>
    </sequence>
  </complexType>
  <complexType name="SOAPStruct">
    <sequence>
      <element name="varInt" type="xsd:int"/>
      <element name="varFloat" type="xsd:float"/>
      <element name="varString" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ArrayOfSOAPStruct" base="SOAP-ENC:Array">
    <sequence>
      <element name="item" type="ns1:SOAPStruct" minOccurs='0' maxOccurs='*'/>
    </sequence>
  </complexType>
 </schema>
</types>
<message name="echoVoidRequest"/>
<message name="echoVoidResponse"/>
<message name="echoStringRequest">
  <part name="inputString" type="xsd:string"/>
</message>
<message name="echoStringResponse">
  <part name="return" type="xsd:string"/>
</message>
<message name="echoStringArrayRequest">
  <part name="inputStringArray" type="ns1:ArrayOfstring"/>
</message>
<message name="echoStringArrayResponse">
  <part name="return" type="ns1:ArrayOfstring"/>
</message>
<message name="echoIntegerRequest">
  <part name="inputInteger" type="xsd:int"/>
</message>
<message name="echoIntegerResponse">
  <part name="return" type="xsd:int"/>
</message>
<message name="echoIntegerArrayRequest">
  <part name="inputIntegerArray" type="ns1:ArrayOfint"/>
</message>
<message name="echoIntegerArrayResponse">
  <part name="return" type="ns1:ArrayOfint"/>
</message>
<message name="echoFloatRequest">
  <part name="inputFloat" type="xsd:float"/>
</message>
<message name="echoFloatResponse">
  <part name="return" type="xsd:float"/>
</message>
<message name="echoFloatArrayRequest">
  <part name="inputFloatArray" type="ns1:ArrayOffloat"/>
</message>
<message name="echoFloatArrayResponse">
  <part name="return" type="ns1:ArrayOffloat"/>
</message>
<message name="echoStructRequest">
  <part name="inputStruct" type="ns1:SOAPStruct"/>
</message>
<message name="echoStructResponse">
  <part name="return" type="ns1:SOAPStruct"/>
</message>
<message name="echoStructArrayRequest">
  <part name="inputStructArray" type="ns1:ArrayOfSOAPStruct"/>
</message>
<message name="echoStructArrayResponse">
  <part name="return" type="ns1:ArrayOfSOAPStruct"/>
</message>
<message name="echoBase64Request">
  <part name="inputBase64" type="SOAP-ENC:base64"/>
</message>
<message name="echoBase64Response">
  <part name="return" type="SOAP-ENC:base64"/>
</message>
<portType name="interopTestPortType">
  <operation name="echoVoid">
    <input  message="tns:echoVoidRequest" name="echoVoid"/>
    <output message="tns:echoVoidResponse" name="echoVoidResponse"/>
  </operation>
  <operation name="echoString" parameterOrder="inputString">
    <input  message="tns:echoStringRequest" name="echoString"/>
    <output message="tns:echoStringResponse" name="echoStringResponse"/>
  </operation>
  <operation name="echoStringArray" parameterOrder="inputStringArray">
    <input  message="tns:echoStringArrayRequest" name="echoStringArray"/>
    <output message="tns:echoStringArrayResponse" name="echoStringArrayResponse"/>
  </operation>
  <operation name="echoInteger" parameterOrder="inputInteger">
    <input  message="tns:echoIntegerRequest" name="echoInteger"/>
    <output message="tns:echoIntegerResponse" name="echoIntegerResponse"/>
  </operation>
  <operation name="echoIntegerArray" parameterOrder="inputIntegerArray">
    <input  message="tns:echoIntegerArrayRequest" name="echoIntegerArray"/>
    <output message="tns:echoIntegerArrayResponse" name="echoIntegerArrayResponse"/>
  </operation>
  <operation name="echoFloat" parameterOrder="inputFloat">
    <input  message="tns:echoFloatRequest" name="echoFloat"/>
    <output message="tns:echoFloatResponse" name="echoFloatResponse"/>
  </operation>
  <operation name="echoFloatArray" parameterOrder="inputFloatArray">
    <input  message="tns:echoFloatArrayRequest" name="echoFloatArray"/>
    <output message="tns:echoFloatArrayResponse" name="echoFloatArrayResponse"/>
  </operation>
  <operation name="echoStruct" parameterOrder="inputStruct">
    <input  message="tns:echoStructRequest" name="echoStruct"/>
    <output message="tns:echoStructResponse" name="echoStructResponse"/>
  </operation>
  <operation name="echoStructArray" parameterOrder="inputStructArray">
    <input  message="tns:echoStructArrayRequest" name="echoStructArray"/>
    <output message="tns:echoStructArrayResponse" name="echoStructArrayResponse"/>
  </operation>
  <operation name="echoBase64" parameterOrder="inputBase64">
    <input  message="tns:echoBase64Request" name="echoBase64"/>
    <output message="tns:echoBase64Response" name="echoBase64Response"/>
  </operation>
</portType>
<binding name="interopTestBinding" type="tns:interopTestPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="echoVoid">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoString">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoStringArray">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoInteger">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoIntegerArray">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoFloat">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoFloatArray">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoStruct">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoStructArray">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="echoBase64">
    <soap:operation soapAction="urn:soapinterop"/>
    <input><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="interopLab">
  <port name="interopTestPort" binding="tns:interopTestBinding">
    <soap:address location="http://www.whitemesa.net/interop"/>
  </port>
</service>
</definitions>
